{
  "ApiKey": "{{ api_key }}",
  "Spotify": {
    "ClientId": "{{ spotify_client_id }}",
    "ClientSecret": "{{ spotify_client_secret }}"
  },
  "Controller": {
    "Port": "/dev/serial0"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Serilog": {
    "MinimumLevel": "Warning"
  }
}
