{
  "ApiKey": "{{ api_key }}",
  "Spotify": {
    "ClientId": "{{ spotify_client_id }}",
    "ClientSecret": "{{ spotify_client_secret }}"
  },
  "ToDo": {
    "ClientId": "{{ todo_client_id }}",
    "ClientSecret": "{{ todo_client_secret }}"
  },
  "Controller": {
    "Port": "/dev/serial0"
  }
}
